html, body, .block {
    height: 100%;
    margin: 0;
    background-color: #f9f9f9;
    min-width: 852px;
}
nav {
    background-color: #202a3c;
}

.page-footer {
    background-color: #202a3c;
}
.home-bg-color {
    background-color: #202a3c;
}
.bg-img-3 {
    content: '';
    position: absolute;
    width: 9.4cm;
    height: 3cm;
    background-image: url("../images/GDG_Lagos.jpg");
    background-repeat: no-repeat;
    background-size: 9.4cm 1.5cm;
    background-color: #999;
}
<img src="images/GDG-Lagos-EventBanner.jpg" >
/*
.home-background {
    background-image: url("../images/GDG_Lagos.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
     */
.home-background {
    height: 100%;
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}